name: ITU OBS Auto Scraper

on:
  schedule:
    # 10:45 TRT (07:45 UTC)
    - cron: '45 7 * * *'
    # 13:42 TRT (10:42 UTC)
    - cron: '42 10 * * *'
    # 14:30 TRT (11:30 UTC)
    - cron: '30 11 * * *'
    # 19:00 TRT (16:00 UTC)
    - cron: '0 16 * * *'
    
  workflow_dispatch: # İstediğin zaman elle çalıştırma butonu

jobs:
  scrape-and-sync:
    runs-on: ubuntu-latest

    steps:
    # 1. Depodaki kodları çek
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Python Kurulumu
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    # 3. Kütüphaneleri Yükle
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Gizli Firebase Anahtarını Oluştur
    # GitHub Secret'tan okuyup dosyaya yazar, kodun bunu okur.
    - name: Create Service Account Key
      run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}' > serviceAccountKey.json

    # 5. Botu Çalıştır
    - name: Run Archive Bot
      run: python archive_v39.py

